## Задание 1.
### 1.1 Соедините два словаря в один

In [10]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

In [11]:
dict3 = dict1 | dict2
dict3

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [12]:
dict3 = {**dict1, **dict2}
dict3

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [13]:
dict4 = dict1.copy()
dict4.update(dict2)
dict4

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

### 1.2 Напишите функцию, которая на вход принимает два словаря и возвращает один объединенный словарь
Используйте аннотирование типов

In [14]:
def merge_dict(d1: dict[str, int], d2: dict[str, int]) -> [str, int]:
    # print(d2.items())
    for k, v in d2.items():
        d1[k] = v
    return d1

In [15]:
merge_dict(dict1, dict2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [16]:
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

## Задание 2.
Напишите функцию, которая из двух списков, делает один словарь, где элементы из первого списка - ключи, а элементы из второго списка - значения

keys = ['One', 'Two', 'Three']
values = [1, 2, 3]

Используйте аннотирование типов

### 2.1 Используя цикл for

In [17]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]

In [18]:
def creat_dict(k: list[str], v: list[int]) -> dict:
    res = {}
    for i in range(len(v)):
        res[k[i]] = v[i]
    return res

creat_dict(keys, values)

{'One': 1, 'Two': 2, 'Three': 3}

### 2.2 Используя dict comprehensions

In [19]:
res = {keys[i] : values[i] for i in range(len(values))}
res

{'One': 1, 'Two': 2, 'Three': 3}

## Задание 3. 
Извлеките только два ключа name и age из представленного словаря 
client_dict = {
"name": "John",
"age": 25,
"salary": 5000,
"city": "Moscow"
}

### 3.1 Напишите функцию с циклом for
Функция на вход принимает:
исходный словарь
ключи, которые нужно извлечь (аргумент по умолчанию)
На выходе словарь с нужными ключами
Используйте аннотирование типов

In [4]:
client_dict = { "name": "John", "age": 25, "salary": 5000, "city": "Moscow" }

In [5]:
def get_keys(data: dict, keys: list = ["name", "age"]) -> dict:
    res = {}
    for k in keys:
        res[k] = data[k]
    return res

In [6]:
get_keys(client_dict)

{'name': 'John', 'age': 25}

In [7]:
 get_keys(client_dict, ["salary", "city"])

{'salary': 5000, 'city': 'Moscow'}

### 3.2 Используя dict comprehensions

In [8]:
res = {k: client_dict[k] for k in ["name", "age"]}
res

{'name': 'John', 'age': 25}

## Задание 4.
### 4.1 Сгенерируйте случайные целые числа от 0 до 100 в количестве 5 штук с помощью модуля random
Зафиксируйте псевдогенерацию, чтобы сгенерированные значения всегда были одинаковые
Используйте list comprehensions

In [10]:
import random

In [12]:
random.seed(5)
data = [random.randint(0, 100) for _ in range(5)]
data

[79, 32, 94, 45, 88]

### 4.2* Напишите генератор
- Генератор на вход принимает список с данными о клиенте (данные из пункта 4.1)
- Внутри генератора реализуйте обход по списку с данными

На каждой итерации генератор будет возвращать кортеж из двух элементов:
- данные по клиенту (в зависимости от итерации, на 0 итерации вернется 0 элемент, на 1 итерации вернется 1 элемент и тд)
- целочисленное значение, которое показывает, сколько секунд прошло с предыдущей итерации

Примечание: секунды, которые возвращаются должны показывать время не с начала запуска генератора, а именно то время, которое прошло с предыдущей итерации. А значит время на первой итерации должно равняться 0.
- Используйте функцию time из модуля time для подсчета времени.
- Чтобы проверить работу таймера, запустите проход по генератору в цикле с time.sleep(2)

In [13]:
import time

In [23]:
def elapsed_since(my_data):
    last_time = time.time()
    for el in my_data:
        current_time = time.time()
        dif_time = current_time - last_time
        yield el, int(dif_time)
        print("Следующий запуск генератора")
        last_time = current_time

In [24]:
for t in elapsed_since(data):
    print(t)
    time.sleep(2)

(79, 0)
Следующий запуск генератора
(32, 2)
Следующий запуск генератора
(94, 2)
Следующий запуск генератора
(45, 2)
Следующий запуск генератора
(88, 2)
Следующий запуск генератора

## Задание 5.
### 5.1 Найдите картинку в интернете и прикрепите её в ячейку с текстом
### 5.2 Создайте следующую таблицу в ячейке с текстом

<img src=https://mykaleidoscope.ru/x/uploads/posts/2022-10/1666206241_12-mykaleidoscope-ru-p-kartinka-na-zastavku-oboi-12.jpg width=300>

<table>
    <tr>
        <td></td>
        <td>До события</td>
        <td>Во время события</td>
    </tr>
    <tr>
        <td>1 точка</td>
        <td>250</td>
        <td>500</td>
    </tr>
    <tr>
        <td>2 точка</td>
        <td>350</td>
        <td>700</td>
    </tr>
    <tr>
        <td>3 точка</td>
        <td>400</td>
        <td>800</td>
    </tr>
    <tr>
        <td>Итого</td>
        <td>1000</td>
        <td>2000</td>
    </tr>
</table>

 Column 1 | Column 2 | Column 3 |
|----------|----------|----------|
| Row 1 | Cell 2 | Cell 3 |
| Row 2 | Cell 5 | Cell 6 |
| Row 3 | Cell 8 | Cell 9 |

## Задание 6. 
Напишите функцию, которая может принимать любое количество трат пользователя и считать сумму и среднее.
- На вход поступают целочисленные значения в любом количестве
- На выходе словарь с ключами суммы трат и средней траты

In [27]:
def sum_perchases(*args):
    print(args)
    summa = sum(args)
    length = len(args)
    return {"Сумма": summa, "Среднее": summa / length}

In [28]:
sum_perchases(54, 67, 567, 56, 78)

(54, 67, 567, 56, 78)

{'Сумма': 822, 'Среднее': 164.4}

In [29]:
def calc(**kwargs):
    print(kwargs)

In [30]:
calc(bananas = 15, apples = 20, tomatoes = 3)

{'bananas': 15, 'apples': 20, 'tomatoes': 3}